body {
    background-color: #140C1C;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    height: 100%;
    font-family: sans-serif;
}

canvas.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.splash {
    z-index: 10;
}

.oversize {
    position: fixed;
    visibility: visible;
    box-sizing: content-box;
    border-top: 0.5cm solid transparent;
    border-left: 0.5cm solid transparent;
    border-bottom: 0.5cm solid transparent;
    border-right: 0.5cm solid transparent;
    /* outline: 1px solid lime; */
}
.oversize button {
    border: 0;
    width: 32px;
    height: 32px;
    box-shadow: 0.5ex 0.2ex 1ex rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    image-rendering: optimizespeed;
}
#attack {
    right: 0;
    bottom: calc(1em + 160px + 2cm);
    border-right: 0.2cm solid transparent;
}
@media (min-aspect-ratio: 1/1) {
    #attack {
        top: calc(50vh - 16px);
    }
}

#attackbutton {
    background-image: url('../image/sword32.png');
}
#attackbutton button:active {
    opacity: 0.7;
}
.gt_levels {
    z-index: 22;
}
.gt_levels .img1 {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
.gt_levels .img2 {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
